fastapi
uvicorn
jinja2
python-dotenv
passlib[bcrypt]
python-jose
requests
google-auth
python-multipart
payos
# fastapi-session==0.2.7  # Comment tạm thời để test
setuptools==65.5.1
wheel==0.40.0
