fastapi
uvicorn
jinja2
python-dotenv
passlib[bcrypt]
python-jose
requests
google-auth
python-multipart
payos
fastapi-session[redis]==0.2.8
redis==4.6.0  # Thêm Redis client
setuptools==65.5.1  # Hỗ trợ build
wheel==0.40.0  # Hỗ trợ build wheel
